Nodes/flows.json
[{"id":"edf446c3.351af8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a7f40eb.69b9b","type":"inject","z":"edf446c3.351af8","name":"Do every 10 seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":255,"y":290,"wires":[["70db4c64.43a024","f48aede8.7399c","a758b646.6b52f8","f4802f92.cbc2d","b212c0ac.5b4f4"]]},{"id":"b212c0ac.5b4f4","type":"http request","z":"edf446c3.351af8","name":"Get Purple Air API","method":"GET","ret":"obj","url":"192.168.17.125/json","tls":"","x":527.9999389648438,"y":221.55553817749023,"wires":[["9e7a2e0c.914a7"]]},{"id":"9e7a2e0c.914a7","type":"json","z":"edf446c3.351af8","name":"","property":"payload","action":"obj","pretty":false,"x":689.833381652832,"y":289.8888874053955,"wires":[["473b82d7.5fb93c","afddb2ed.89075"]]},{"id":"473b82d7.5fb93c","type":"debug","z":"edf446c3.351af8","name":"Complete JSON from PurpleAir","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":957.4999694824219,"y":293.0555467605591,"wires":[]},{"id":"afddb2ed.89075","type":"change","z":"edf446c3.351af8","name":"","rules":[{"t":"set","p":"pm25","pt":"flow","to":"payload.pm2_5_atm","tot":"msg"},{"t":"set","p":"PAtemp","pt":"flow","to":"payload.current_temp_f","tot":"msg"},{"t":"set","p":"PArh","pt":"flow","to":"payload.current_humidity","tot":"msg"},{"t":"set","p":"PAmac","pt":"flow","to":"payload.SensorId","tot":"msg"},{"t":"set","p":"PAfirmware","pt":"flow","to":"payload.version","tot":"msg"},{"t":"set","p":"PAhardware","pt":"flow","to":"payload.hardwareversion","tot":"msg"},{"t":"set","p":"PAdewpoint","pt":"flow","to":"payload.current_dewpoint_f","tot":"msg"},{"t":"set","p":"PApressure","pt":"flow","to":"payload.pressure","tot":"msg"},{"t":"set","p":"PAadc","pt":"flow","to":"payload.Adc","tot":"msg"},{"t":"set","p":"PAmem","pt":"flow","to":"payload.Mem","tot":"msg"},{"t":"set","p":"PArssi","pt":"flow","to":"payload.rssi","tot":"msg"},{"t":"set","p":"PAuptime","pt":"flow","to":"payload.uptime","tot":"msg"},{"t":"set","p":"pm1","pt":"flow","to":"payload.pm1_0_atm","tot":"msg"},{"t":"set","p":"pm10","pt":"flow","to":"payload.pm10_0_atm","tot":"msg"},{"t":"set","p":"pm1c","pt":"flow","to":"payload.pm1_0_cf_1","tot":"msg"},{"t":"set","p":"pm25c","pt":"flow","to":"payload.pm2_5_cf_1","tot":"msg"},{"t":"set","p":"pm10c","pt":"flow","to":"payload.pm10_0_cf_1","tot":"msg"},{"t":"set","p":"p03","pt":"flow","to":"payload.p_0_3_um","tot":"msg"},{"t":"set","p":"p05","pt":"flow","to":"payload.p_0_5_um","tot":"msg"},{"t":"set","p":"p1","pt":"flow","to":"payload.p_1_0_um","tot":"msg"},{"t":"set","p":"p25","pt":"flow","to":"payload.p_2_5_um","tot":"msg"},{"t":"set","p":"p5","pt":"flow","to":"payload.p_5_0_um","tot":"msg"},{"t":"set","p":"p10","pt":"flow","to":"payload.p_5_0_um","tot":"msg"},{"t":"set","p":"p03b","pt":"flow","to":"payload.p_0_3_um_b","tot":"msg"},{"t":"set","p":"p05b","pt":"flow","to":"payload.p_0_5_um_b","tot":"msg"},{"t":"set","p":"p1b","pt":"flow","to":"payload.p_1_0_um_b","tot":"msg"},{"t":"set","p":"p25b","pt":"flow","to":"payload.p_2_5_um_b","tot":"msg"},{"t":"set","p":"p5b","pt":"flow","to":"payload.p_5_0_um_b","tot":"msg"},{"t":"set","p":"p10b","pt":"flow","to":"payload.p_10_0_um_b","tot":"msg"},{"t":"set","p":"pm1b","pt":"flow","to":"payload.pm1_0_atm_b","tot":"msg"},{"t":"set","p":"pm25b","pt":"flow","to":"payload.pm2_5_atm_b","tot":"msg"},{"t":"set","p":"pm10b","pt":"flow","to":"payload.pm10_0_atm_b","tot":"msg"},{"t":"set","p":"pm1cb","pt":"flow","to":"payload.pm1_0_cf_1_b","tot":"msg"},{"t":"set","p":"pm25cb","pt":"flow","to":"payload.pm2_5_cf_1_b","tot":"msg"},{"t":"set","p":"pm10cb","pt":"flow","to":"payload.pm10_0_cf_1_b","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.0000076293945,"y":422.055606842041,"wires":[["19f1f34.b32590d"]]},{"id":"70db4c64.43a024","type":"function","z":"edf446c3.351af8","name":"Get PM Data","func":"var pm = flow.get(\"pm25\");\nmsg.payload = pm;\nmsg.topic = \"PM2.5\";\nmsg.units = \"um/m3\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1224,"y":320.722225189209,"wires":[["7065b395.e2704c"]]},{"id":"f48aede8.7399c","type":"function","z":"edf446c3.351af8","name":"Get Temp","func":"var temp = flow.get(\"PAtempAvg\");\nmsg.payload = temp;\nmsg.units = \"degC\";\nmsg.topic = \"temperature\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1216,"y":358.722225189209,"wires":[["3164e2d2.2948de"]]},{"id":"a758b646.6b52f8","type":"function","z":"edf446c3.351af8","name":"Get RH","func":"var rh = flow.get(\"PArhAvg\");\nmsg.payload = rh;\nmsg.units = \"%RH\";\nmsg.topic = \"humidity\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1216,"y":394.722225189209,"wires":[["10a63887.d7ef97"]]},{"id":"51250e1a.6311f","type":"change","z":"edf446c3.351af8","name":"","rules":[{"t":"set","p":"podID","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":775.0000076293945,"y":764.7222356796265,"wires":[["f75b9bd9.bf6178"]]},{"id":"f4802f92.cbc2d","type":"change","z":"edf446c3.351af8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"utcTime","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":489.99998474121094,"y":174.72220706939697,"wires":[["6cc51ee2.05752","1b72e562.ae497b"]]},{"id":"19f1f34.b32590d","type":"function","z":"edf446c3.351af8","name":"Averaging","func":"flow.set(\"PAtempSum\",flow.get(\"PAtempSum\")+flow.get(\"PAtemp\"));\nflow.set(\"PArhSum\",flow.get(\"PArhSum\")+flow.get(\"PArh\"));\nflow.set(\"PAdewpointSum\",flow.get(\"PAdewpointSum\")+flow.get(\"PAdewpoint\"));\nflow.set(\"PApressureSum\",flow.get(\"PApressureSum\")+flow.get(\"PApressure\"));\nflow.set(\"pm1Sum\",flow.get(\"pm1Sum\")+flow.get(\"pm1\"));\nflow.set(\"pm25Sum\",flow.get(\"pm25Sum\")+flow.get(\"pm25\"));\nflow.set(\"pm10Sum\",flow.get(\"pm10Sum\")+flow.get(\"pm10\"));\nflow.set(\"pm1cSum\",flow.get(\"pm1cSum\")+flow.get(\"pm1c\"));\nflow.set(\"pm25cSum\",flow.get(\"pm25cSum\")+flow.get(\"pm25c\"));\nflow.set(\"pm10cSum\",flow.get(\"pm10cSum\")+flow.get(\"pm10c\"));\n\nflow.set(\"pm1bSum\",flow.get(\"pm1bSum\")+flow.get(\"pm1b\"));\nflow.set(\"pm25bSum\",flow.get(\"pm25bSum\")+flow.get(\"pm25b\"));\nflow.set(\"pm10bSum\",flow.get(\"pm10bSum\")+flow.get(\"pm10b\"));\nflow.set(\"pm1cbSum\",flow.get(\"pm1cbSum\")+flow.get(\"pm1cb\"));\nflow.set(\"pm25cbSum\",flow.get(\"pm25cbSum\")+flow.get(\"pm25cb\"));\nflow.set(\"pm10cbSum\",flow.get(\"pm10cbSum\")+flow.get(\"pm10cb\"));\n\nflow.set(\"p03Sum\",flow.get(\"p03Sum\")+flow.get(\"p03\"));\nflow.set(\"p05Sum\",flow.get(\"p05Sum\")+flow.get(\"p05\"));\nflow.set(\"p1Sum\",flow.get(\"p1Sum\")+flow.get(\"p1\"));\nflow.set(\"p25Sum\",flow.get(\"p25Sum\")+flow.get(\"p25\"));\nflow.set(\"p5Sum\",flow.get(\"p5Sum\")+flow.get(\"p5\"));\nflow.set(\"p10Sum\",flow.get(\"p10Sum\")+flow.get(\"p10\"));\n\nflow.set(\"p03bSum\",flow.get(\"p03bSum\")+flow.get(\"p03\"));\nflow.set(\"p05bSum\",flow.get(\"p05bSum\")+flow.get(\"p05\"));\nflow.set(\"p1bSum\",flow.get(\"p1bSum\")+flow.get(\"p1\"));\nflow.set(\"p25bSum\",flow.get(\"p25bSum\")+flow.get(\"p25\"));\nflow.set(\"p5bSum\",flow.get(\"p5bSum\")+flow.get(\"p5\"));\nflow.set(\"p10bSum\",flow.get(\"p10bSum\")+flow.get(\"p10\"));\n\nflow.set(\"SumCount\",flow.get(\"SumCount\")+1);\nif (flow.get(\"average\")==1)\n{\n    var SumCount = flow.get(\"SumCount\");\n   flow.set(\"average\",0);\n flow.set(\"PAtempAvg\",flow.get(\"PAtempSum\")/SumCount);\nflow.set(\"PArhAvg\",flow.get(\"PArhSum\")/SumCount);\nflow.set(\"PAdewpointAvg\",flow.get(\"PAdewpointSum\")/SumCount);\nflow.set(\"PApressureAvg\",flow.get(\"PApressureSum\")/SumCount);\nflow.set(\"pm1Avg\",flow.get(\"pm1Sum\")/SumCount);\nflow.set(\"pm25Avg\",flow.get(\"pm25Sum\")/SumCount);\nflow.set(\"pm10Avg\",flow.get(\"pm10Sum\")/SumCount);\nflow.set(\"pm1cAvg\",flow.get(\"pm1cSum\")/SumCount);\nflow.set(\"pm25cAvg\",flow.get(\"pm25cSum\")/SumCount);\nflow.set(\"pm10cAvg\",flow.get(\"pm10cSum\")/SumCount);  \n\nflow.set(\"pm1bAvg\",flow.get(\"pm1bSum\")/SumCount);\nflow.set(\"pm25bAvg\",flow.get(\"pm25bSum\")/SumCount);\nflow.set(\"pm10bAvg\",flow.get(\"pm10bSum\")/SumCount);\nflow.set(\"pm1cbAvg\",flow.get(\"pm1cbSum\")/SumCount);\nflow.set(\"pm25cbAvg\",flow.get(\"pm25cbSum\")/SumCount);\nflow.set(\"pm10cbAvg\",flow.get(\"pm10cbSum\")/SumCount);  \n  \nflow.set(\"p03Avg\",flow.get(\"p03Sum\")/SumCount);\nflow.set(\"p05Avg\",flow.get(\"p05Sum\")/SumCount);\nflow.set(\"p1Avg\",flow.get(\"p1Sum\")/SumCount);\nflow.set(\"p25Avg\",flow.get(\"p25Sum\")/SumCount);\nflow.set(\"p5Avg\",flow.get(\"p5Sum\")/SumCount);\nflow.set(\"p10Avg\",flow.get(\"p10Sum\")/SumCount);\n\nflow.set(\"p03bAvg\",flow.get(\"p03bSum\")/SumCount);\nflow.set(\"p05bAvg\",flow.get(\"p05bSum\")/SumCount);\nflow.set(\"p1bAvg\",flow.get(\"p1bSum\")/SumCount);\nflow.set(\"p25bAvg\",flow.get(\"p25bSum\")/SumCount);\nflow.set(\"p5bAvg\",flow.get(\"p5bSum\")/SumCount);\nflow.set(\"p10bAvg\",flow.get(\"p10bSum\")/SumCount);\n\n  msg.payload = \"averaged \"+ flow.get(\"SumCount\") + \" \" + flow.get(\"pm25Sum\") + \" \" + flow.get(\"pm25Avg\");\n  \n   \nflow.set(\"PAtempSum\",0);\nflow.set(\"PArhSum\",0);\nflow.set(\"PAdewpointSum\",0);\nflow.set(\"PApressureSum\",0);\nflow.set(\"pm1Sum\",0);\nflow.set(\"pm25Sum\",0);\nflow.set(\"pm10Sum\",0);\nflow.set(\"pm1cSum\",0);\nflow.set(\"pm25cSum\",0);\nflow.set(\"pm10cSum\",0);\nflow.set(\"pm1bSum\",0);\nflow.set(\"pm25bSum\",0);\nflow.set(\"pm10bSum\",0);\nflow.set(\"pm1cbSum\",0);\nflow.set(\"pm25cbSum\",0);\nflow.set(\"pm10cbSum\",0);\n\nflow.set(\"p03Sum\",0);\nflow.set(\"p05Sum\",0);\nflow.set(\"p1Sum\",0);\nflow.set(\"p25Sum\",0);\nflow.set(\"p5Sum\",0);\nflow.set(\"p10Sum\",0);\n\nflow.set(\"p03bSum\",0);\nflow.set(\"p05bSum\",0);\nflow.set(\"p1bSum\",0);\nflow.set(\"p25bSum\",0);\nflow.set(\"p5bSum\",0);\nflow.set(\"p10bSum\",0);\n\n flow.set(\"SumCount\",0);\nreturn msg;\n}","outputs":1,"noerr":0,"x":1032.5000114440918,"y":443.05554580688477,"wires":[["41792801.17f9e8"]]},{"id":"28e1e1bc.d4753e","type":"inject","z":"edf446c3.351af8","name":"Average/send VIPER every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":295.8333282470703,"y":483.88888931274414,"wires":[["69b45082.2bc12","69d84171.31663","b5db0c7a.05cf3"]]},{"id":"69b45082.2bc12","type":"function","z":"edf446c3.351af8","name":"Average flag","func":"flow.set(\"average\",1);\nflow.set(\"averageWind\",1);\nflow.set(\"BCaverage\",1);\n\n","outputs":1,"noerr":0,"x":600.0000076293945,"y":534.7222328186035,"wires":[[]]},{"id":"41792801.17f9e8","type":"debug","z":"edf446c3.351af8","name":"Averaged","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1202.4999542236328,"y":457.2222023010254,"wires":[]},{"id":"acdeb708.7ad938","type":"inject","z":"edf446c3.351af8","name":"Do Once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":213.3333282470703,"y":590.5555467605591,"wires":[["e6beee19.fbfeb","6682d4b8.0d1abc","2505dcb5.7b8374","3bd7277f.33c3e8"]]},{"id":"4802e14c.020e9","type":"function","z":"edf446c3.351af8","name":"Write headers","func":"\nmsg.payload = \"podID,utcTime,localTime(\"+flow.get(\"TZ\")+\"),\";\nmsg.payload = msg.payload + \"PA-MacAddress,PA-FirmwareVersion,PA-HardwareVersion,\";\nmsg.payload = msg.payload + \"PA-temp(degF),PA-RH(%),PA-dewPoint(degF),PA-Pressure(mbar),PA-adc (V),PA-freeMemory,PA-WifiSignalStrength(rssi),PA-FirmwareUptime(seconds),\";\nmsg.payload = msg.payload + \"PA-PM1-a(ug/m3),PA-PM2.5-a(ug/m3),PA-PM10-a(ug/m3),PA-PM1correctionFactor-a(ug/m3),PA-PM2.5correctionFactor-a(ug/m3),PA-PM10correctionFactor-a(ug/m3),\";\nmsg.payload = msg.payload + \"PA-#particles0.3u-a,PA-#particles0.5u-a,PA-#particles1.0u-a,PA-#particles2.5u-a,PA-#particles5.0u-a,PA-#particles10u-a,\";\nmsg.payload = msg.payload + \"PA-PM1-b(ug/m3),PA-PM2.5-b(ug/m3),PA-PM10-b(ug/m3),PA-PM1correctionFactor-b(ug/m3),PA-PM2.5correctionFactor-b(ug/m3),PA-PM10correctionFactor-b(ug/m3),\";\nmsg.payload = msg.payload + \"PA-#particles0.3u-b,PA-#particles0.5u-b,PA-#particles1.0u-b,PA-#particles2.5u-b,PA-#particles5.0u-b,PA-#particles10u-b\";\n\nmsg.filename = \"/media/usb/\"+msg.filename+\"PA.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":1015.0000076293945,"y":706.3888597488403,"wires":[["a24d248d.7fb438","6d039e54.73e96"]]},{"id":"a24d248d.7fb438","type":"file","z":"edf446c3.351af8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1055.000015258789,"y":587.2222328186035,"wires":[[]]},{"id":"6d039e54.73e96","type":"debug","z":"edf446c3.351af8","name":"Filename","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":1240.000015258789,"y":637.2222347259521,"wires":[]},{"id":"8fa36b36.aa4218","type":"function","z":"edf446c3.351af8","name":"Local time","func":"flow.set(\"localTime\",msg.payload);\n\nmsg.payload = \"localtime\" + flow.get(\"localTime\");\nreturn msg;","outputs":1,"noerr":0,"x":1384,"y":126.72222137451172,"wires":[["d515b3b0.0a423"]]},{"id":"1b72e562.ae497b","type":"switch","z":"edf446c3.351af8","name":"","property":"TZ","propertyType":"flow","rules":[{"t":"eq","v":"PST","vt":"str"},{"t":"eq","v":"MST","vt":"str"},{"t":"eq","v":"CST","vt":"str"},{"t":"eq","v":"EST","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":954,"y":176.72222518920898,"wires":[["79bc0de4.88b4c4"],["fb0a3d88.a07b9"],["5943c973.1d7f68"],["6478cd8c.fe57b4"]]},{"id":"6682d4b8.0d1abc","type":"function","z":"edf446c3.351af8","name":"set default timezone","func":"msg.payload = \"MST\";\nreturn msg;","outputs":1,"noerr":0,"x":452.0000228881836,"y":558.7222328186035,"wires":[["243505a5.2ffbaa"]]},{"id":"d515b3b0.0a423","type":"debug","z":"edf446c3.351af8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1565.3333549499512,"y":144.72221755981445,"wires":[]},{"id":"aa401434.041588","type":"debug","z":"edf446c3.351af8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800.0000076293945,"y":592.2222337722778,"wires":[]},{"id":"2505dcb5.7b8374","type":"function","z":"edf446c3.351af8","name":"set default variables","func":"flow.set(\"SumCount\",0);\nflow.set(\"SumCountWind\",0);\nflow.set(\"BCSumCount\",0);\nflow.set(\"windDirection\",[]);\nflow.set(\"windSpeed\",[]);\nflow.set(\"deploymentname\",\"PTAQS\");\nflow.set(\"GPS.lat\",35.994342);\nflow.set(\"GPS.lon\",-78.898453);\nmsg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":447.50000381469727,"y":624.7222328186035,"wires":[[]]},{"id":"7de691e5.c857","type":"function","z":"edf446c3.351af8","name":"set TZ","func":"flow.set(\"TZ\",msg.payload);","outputs":1,"noerr":0,"x":722.0000076293945,"y":636.7222347259521,"wires":[["e6beee19.fbfeb"]]},{"id":"c70e6aa.1a9e398","type":"debug","z":"edf446c3.351af8","name":"rh","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1275,"y":694.722225189209,"wires":[]},{"id":"88f0ecf2.9dc22","type":"debug","z":"edf446c3.351af8","name":"VIPER time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1642.5000228881836,"y":414.72223138809204,"wires":[]},{"id":"b39bc38e.3ce22","type":"function","z":"edf446c3.351af8","name":"VIPER setup","func":"var dateTimeVIPER = msg.Time; //VIPERs dateTime format\nvar unit = flow.get(\"podID\"); //get flow variable for unit number\n//var server = flow.get(\"server\");\n//var port = flow.get(\"port\");\nvar header= \"<?xml version=\\\"1.0\\\" encoding=\\\"utf-16\\\"?><alert xmlns:xsi=\\\"http://www.w3.org/2001/XMLSchema-instance\\\" xmlns:xsd=\\\"http://www.w3.org/2001/XMLSchema\\\" xmlns=\\\"urn:oasis:names:tc:emergency:cap:1.1\\\">\"; //exact header text\nvar ident = \"<identifier>\" + unit + \"_\" + msg.Time + \"</identifier>\"; //<ident> is a unique ID, in this case, a combination of unitnumber and the dateTime\nvar sent = \"<sent>\" + msg.Time + \"</sent>\"; //viper dateTime\nvar deploymentName = flow.get(\"deploymentname\"); //get saved deployment name variable\nvar source = \"<source>\" + deploymentName +\",\"+deploymentName+unit+\",0,0</source>\";//use deployment name and unitnumber to build source string\nvar GPSlat = flow.get(\"GPS.lat\"); // get flow variables for GPS coordinates\nvar GPSlon = flow.get(\"GPS.lon\"); // get flow variables for GPS coordinates\nvar GPS = \"<info><area><circle>\" + GPSlat +\",\"+ GPSlon + \" 0</circle></area>\"; //build GPS portion of string\nvar footer = \"</headline></info></alert>\"; //build foooter to close open tags\nvar pm1 = flow.get(\"pm1Avg\"); // get all measurment values saved as flow variables\nvar pm25 = flow.get(\"pm25Avg\");\nvar pm10 = flow.get(\"pm10Avg\");\nvar PAtemp = flow.get(\"PAtempAvg\");\nvar PArh = flow.get(\"PArhAvg\");\nvar PAmac = flow.get(\"PAmac\");\nvar PAfirmware = flow.get(\"PAfirmware\");\nvar PAdewpoint = flow.get(\"PAdewpoint\");\nvar PApressure = flow.get(\"PApressure\");\nvar PArssi = flow.get(\"PArssi\");\nvar PAuptime = flow.get(\"PAuptime\");\nvar pm1  = flow.get(\"pm1\");\nvar pm25  = flow.get(\"pm25\");\nvar pm10  = flow.get(\"pm10\");\nvar pm1c = flow.get(\"pm1c\");\nvar pm25c = flow.get(\"pm25c\");\nvar pm10c = flow.get(\"pm10c\");\nvar p03 = flow.get(\"p03\");\nvar p05 = flow.get(\"p05\");\nvar p1 = flow.get(\"p1\");\nvar p25 = flow.get(\"p25\");\nvar p5 = flow.get(\"p5\");\nvar p10 = flow.get(\"p10\");\n\nvar pm1b  = flow.get(\"pm1b\");\nvar pm25b  = flow.get(\"pm25b\");\nvar pm10b  = flow.get(\"pm10b\");\nvar pm1cb = flow.get(\"pm1cb\");\nvar pm25cb = flow.get(\"pm25cb\");\nvar pm10cb = flow.get(\"pm10cb\");\nvar p03b = flow.get(\"p03b\");\nvar p05b = flow.get(\"p05b\");\nvar p1b = flow.get(\"p1b\");\nvar p25b = flow.get(\"p25b\");\nvar p5b = flow.get(\"p5b\");\nvar p10b = flow.get(\"p10b\");\n\nvar data = \"Temperature;\"+two(PAtemp)+\";degF;Green;\"; //build data string\ndata = data + \"PM1a;\"+two(pm1)+\";ug/m3;Green;\"; //each additional data point is appended to the existing data\ndata = data + \"PM2.5a;\"+two(pm25)+\";ug/m3;Green;\";\ndata = data + \"PM10a;\"+two(pm10)+\";ug/m3;Green;\";\ndata = data + \"Relative Humidity;\"+two(PArh)+\";%;Green;\";\ndata = data + \"PM1ca;\"+two(pm1c)+\";ug/m3;Green;\"\ndata = data + \"PM25ca;\"+two(pm25c)+\";ug/m3;Green;\"\ndata = data + \"PM10ca;\"+two(pm10c)+\";ug/m3;Green;\"\ndata = data + \"p03a;\"+two(p03)+\";;Green;\"\ndata = data + \"p05a;\"+two(p05)+\";;Green;\"\ndata = data + \"p1a;\"+two(p1)+\";;Green;\"\ndata = data + \"p25a;\"+two(p25)+\";;Green;\"\ndata = data + \"p10a;\"+two(p10)+\";;Green;\"\n\ndata = data + \"PM1b;\"+two(pm1b)+\";ug/m3;Green;\"; //each additional data point is appended to the existing data\ndata = data + \"PM2.5b;\"+two(pm25b)+\";ug/m3;Green;\";\ndata = data + \"PM10b;\"+two(pm10b)+\";ug/m3;Green;\";\n\ndata = data + \"PM1cb;\"+two(pm1cb)+\";ug/m3;Green;\"\ndata = data + \"PM25cb;\"+two(pm25cb)+\";ug/m3;Green;\"\ndata = data + \"PM10cb;\"+two(pm10cb)+\";ug/m3;Green;\"\ndata = data + \"p03b;\"+two(p03b)+\";;Green;\"\ndata = data + \"p05b;\"+two(p05b)+\";;Green;\"\ndata = data + \"p1b;\"+two(p1b)+\";;Green;\"\ndata = data + \"p25b;\"+two(p25b)+\";;Green;\"\ndata = data + \"p10b;\"+two(p10b)+\";;Green\"\n\nmsg.payload = header + ident + sent + source + GPS + \"<headline>\" + data + footer; //build entire string using the substrings we've built\nreturn msg; //send the message on to the TCP connection\n\nfunction two(x) {\n  return Number.parseFloat(x).toFixed(2);\n}","outputs":1,"noerr":0,"x":1792.5000228881836,"y":482.2222318649292,"wires":[["448fea83.1faef4","1ca1236d.30229d"]]},{"id":"191cd445.d6b06c","type":"change","z":"edf446c3.351af8","name":"","rules":[{"t":"set","p":"Time","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1615.0000228881836,"y":507.2222309112549,"wires":[["b39bc38e.3ce22"]]},{"id":"1ca1236d.30229d","type":"tcp out","z":"edf446c3.351af8","host":"remote.ertviper.org","port":"8001","beserver":"client","base64":false,"end":true,"name":"","x":1932.5000305175781,"y":354.7222328186036,"wires":[]},{"id":"448fea83.1faef4","type":"debug","z":"edf446c3.351af8","name":"VIPER string","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1960,"y":487.222225189209,"wires":[]},{"id":"42da5c36.a69954","type":"inject","z":"edf446c3.351af8","name":"Do at midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":262.5,"y":692.2222347259521,"wires":[["e6beee19.fbfeb"]]},{"id":"e89abbdd.b581e8","type":"inject","z":"edf446c3.351af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":275,"y":849.7222251892088,"wires":[["70ac1ee3.25eac"]]},{"id":"e97dee86.913af","type":"change","z":"edf446c3.351af8","name":"","rules":[{"t":"set","p":"utcTime","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.5000076293945,"y":847.2222366333008,"wires":[[]]},{"id":"bea28c4f.27bf2","type":"file","z":"edf446c3.351af8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1905.0000305175781,"y":582.2222328186035,"wires":[[]]},{"id":"8bdf7e8c.17369","type":"function","z":"edf446c3.351af8","name":"Build Write String","func":"msg.payload = flow.get(\"podID\") + \",\" + flow.get(\"utcTime\") + \",\" + flow.get(\"localTime\") + \",\" ;\nmsg.payload = msg.payload + flow.get(\"PAmac\") + \",\" + flow.get(\"PAfirmware\") + \",\" + flow.get(\"PAhardware\") + \",\";\nmsg.payload = msg.payload + flow.get(\"PAtempAvg\") + \",\" + flow.get(\"PArhAvg\") + \",\" + flow.get(\"PAdewpointAvg\")+ \",\"+ flow.get(\"PApressureAvg\") + \",\" + flow.get(\"PAadc\") + \",\" + flow.get(\"PAmem\") + \",\" + flow.get(\"PArssi\") + \",\"+ flow.get(\"PAuptime\") +\",\";\nmsg.payload = msg.payload + flow.get(\"pm1Avg\") + \",\" + flow.get(\"pm25Avg\") + \",\" + flow.get(\"pm10Avg\") + \",\" + flow.get(\"pm1cAvg\") + \",\" + flow.get(\"pm25cAvg\") + \",\" + flow.get(\"pm10cAvg\") + \",\";\nmsg.payload = msg.payload + flow.get(\"p03Avg\") + \",\" + flow.get(\"p05Avg\") + \",\" + flow.get(\"p1Avg\") + \",\" + flow.get(\"p25Avg\") + \",\" + flow.get(\"p5Avg\") + \",\" +  flow.get(\"p10Avg\") + \",\";\nmsg.payload = msg.payload + flow.get(\"pm1bAvg\") + \",\" + flow.get(\"pm25bAvg\") + \",\" + flow.get(\"pm10bAvg\") + \",\" + flow.get(\"pm1cbAvg\") + \",\" + flow.get(\"pm25cbAvg\") + \",\" + flow.get(\"pm10cbAvg\") + \",\";\nmsg.payload = msg.payload + flow.get(\"p03bAvg\") + \",\" + flow.get(\"p05bAvg\") + \",\" + flow.get(\"p1bAvg\") + \",\" + flow.get(\"p25bAvg\") + \",\" + flow.get(\"p5bAvg\") + \",\" + flow.get(\"p10bAvg\");\n\nmsg.filename = \"/media/usb/\"+msg.filename+\"PA.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":1667.5000267028809,"y":553.2222330570221,"wires":[["bea28c4f.27bf2","e0dedcb4.b44c"]]},{"id":"e0dedcb4.b44c","type":"debug","z":"edf446c3.351af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1956.5000305175781,"y":536.2222318649292,"wires":[]},{"id":"69d84171.31663","type":"delay","z":"edf446c3.351af8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":822.5,"y":484.722225189209,"wires":[["fd932b18.0d3608"]]},{"id":"b5db0c7a.05cf3","type":"delay","z":"edf446c3.351af8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":825,"y":529.722225189209,"wires":[["314b6a09.3bb936"]]},{"id":"3c8981c1.d8bc3e","type":"file in","z":"edf446c3.351af8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":340,"y":768,"wires":[["4d5903f6.02548c","73bb3348.5f586c"]]},{"id":"2709495d.8ff736","type":"file","z":"edf446c3.351af8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1040,"y":754,"wires":[[]]},{"id":"f75b9bd9.bf6178","type":"function","z":"edf446c3.351af8","name":"write pod ID to file","func":"msg.payload = flow.get(\"podID\");\nmsg.filename = \"/media/usb/podID.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":788,"y":804,"wires":[["2709495d.8ff736"]]},{"id":"73bb3348.5f586c","type":"debug","z":"edf446c3.351af8","name":"from file","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":568,"y":796,"wires":[]},{"id":"3bd7277f.33c3e8","type":"function","z":"edf446c3.351af8","name":"read pod ID","func":"\nmsg.filename = \"/media/usb/podID.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":174,"y":786,"wires":[["3c8981c1.d8bc3e"]]},{"id":"243505a5.2ffbaa","type":"ui_dropdown","z":"edf446c3.351af8","name":"","label":"","place":"Select option","group":"3ec662a9.8a280e","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"PST","value":"PST","type":"str"},{"label":"MST","value":"MST","type":"str"},{"label":"CST","value":"CST","type":"str"},{"label":"EST","value":"EST","type":"str"}],"payload":"","topic":"","x":620.0000076293945,"y":591.7222337722778,"wires":[["aa401434.041588","7de691e5.c857"]]},{"id":"4d5903f6.02548c","type":"ui_text_input","z":"edf446c3.351af8","name":"","label":"Pod ID","tooltip":"","group":"3ec662a9.8a280e","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":581.6666641235352,"y":732.2222967147827,"wires":[["51250e1a.6311f"]]},{"id":"6cc51ee2.05752","type":"ui_text","z":"edf446c3.351af8","group":"3ec662a9.8a280e","order":0,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":748.6666870117188,"y":212.72222518920898,"wires":[]},{"id":"3164e2d2.2948de","type":"ui_chart","z":"edf446c3.351af8","name":"","group":"7883b092.5ee17","order":1,"width":"6","height":"4","label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1422,"y":352.722225189209,"wires":[[],[]]},{"id":"7065b395.e2704c","type":"ui_chart","z":"edf446c3.351af8","name":"","group":"b809fdfc.e00fd","order":3,"width":"6","height":"4","label":"Particulate Matter","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1460,"y":306.722225189209,"wires":[[],[]]},{"id":"10a63887.d7ef97","type":"ui_chart","z":"edf446c3.351af8","name":"","group":"7883b092.5ee17","order":2,"width":"6","height":"4","label":"RH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1422,"y":392.722225189209,"wires":[[],[]]},{"id":"e6beee19.fbfeb","type":"moment","z":"edf446c3.351af8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMDDYYYY","locale":"en_US","output":"filename","outputType":"msg","outTz":"America/Denver","x":780.0000076293945,"y":702.2222347259521,"wires":[["4802e14c.020e9"]]},{"id":"79bc0de4.88b4c4","type":"moment","z":"edf446c3.351af8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Los_Angeles","x":1142,"y":110.72222518920898,"wires":[["8fa36b36.aa4218"]]},{"id":"fb0a3d88.a07b9","type":"moment","z":"edf446c3.351af8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Denver","x":1144,"y":152.72222518920898,"wires":[["8fa36b36.aa4218"]]},{"id":"5943c973.1d7f68","type":"moment","z":"edf446c3.351af8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Chicago","x":1136,"y":192.72222518920898,"wires":[["8fa36b36.aa4218"]]},{"id":"6478cd8c.fe57b4","type":"moment","z":"edf446c3.351af8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/New_York","x":1142,"y":234.72222518920898,"wires":[["8fa36b36.aa4218"]]},{"id":"fd932b18.0d3608","type":"moment","z":"edf446c3.351af8","name":"VIPER timestamp","topic":"","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":"20","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DDTHH:mm:ssZ","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Denver","x":1397.5,"y":499.722225189209,"wires":[["88f0ecf2.9dc22","191cd445.d6b06c"]]},{"id":"70ac1ee3.25eac","type":"moment","z":"edf446c3.351af8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DDTHH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":470,"y":849.7222366333008,"wires":[["e97dee86.913af"]]},{"id":"314b6a09.3bb936","type":"moment","z":"edf446c3.351af8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"20","adjType":"seconds","adjDir":"add","format":"MMDDYYYY","locale":"en_US","output":"filename","outputType":"msg","outTz":"America/Denver","x":1421.0000305175781,"y":550.2222328186035,"wires":[["8bdf7e8c.17369"]]}]