Nodes/hawesflow (2).json
[{"id":"36d07809.753fe8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6d86357d.9bf69c","type":"inject","z":"36d07809.753fe8","name":"Sample every 40 seconds","topic":"","payload":"","payloadType":"date","repeat":"40","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":180,"wires":[["5175ee69.f0cc","6734b43b.3d43bc"]],"info":"This sampling rate is 2X the period, which should ensure a decent resolution "},{"id":"852c901.03f307","type":"json","z":"36d07809.753fe8","name":"Extract JSON of the Sensor","property":"payload","action":"obj","pretty":true,"x":520,"y":180,"wires":[["6548b90.25c0d48","ec35370.d4d86c8","eb3e56b8.31d208","9ec8bcf6.cccf","4d61a071.e1802"]],"info":"Turn JSON data into JSON Objects"},{"id":"5175ee69.f0cc","type":"http request","z":"36d07809.753fe8","name":"Sensor Data","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.0.21/json","tls":"","proxy":"","authType":"","x":470,"y":140,"wires":[["852c901.03f307","c11445.b571dbb8"]],"info":"Get JSON data from Purple air\n"},{"id":"6548b90.25c0d48","type":"change","z":"36d07809.753fe8","name":"Data","rules":[{"t":"set","p":"pm25","pt":"flow","to":"payload.pm2_5_atm","tot":"msg"},{"t":"set","p":"PAtemp","pt":"flow","to":"payload.current_temp_f","tot":"msg"},{"t":"set","p":"PArh","pt":"flow","to":"payload.current_humidity","tot":"msg"},{"t":"set","p":"PAmac","pt":"flow","to":"payload.SensorId","tot":"msg"},{"t":"set","p":"PAfirmware","pt":"flow","to":"payload.version","tot":"msg"},{"t":"set","p":"PAhardware","pt":"flow","to":"payload.hardwareversion","tot":"msg"},{"t":"set","p":"PAdewpoint","pt":"flow","to":"payload.current_dewpoint_f","tot":"msg"},{"t":"set","p":"PApressure","pt":"flow","to":"payload.pressure","tot":"msg"},{"t":"set","p":"PAadc","pt":"flow","to":"payload.Adc","tot":"msg"},{"t":"set","p":"PAmem","pt":"flow","to":"payload.Mem","tot":"msg"},{"t":"set","p":"PArssi","pt":"flow","to":"payload.rssi","tot":"msg"},{"t":"set","p":"PAuptime","pt":"flow","to":"payload.uptime","tot":"msg"},{"t":"set","p":"pm1","pt":"flow","to":"payload.pm1_0_atm","tot":"msg"},{"t":"set","p":"pm10","pt":"flow","to":"payload.pm10_0_atm","tot":"msg"},{"t":"set","p":"pm1c","pt":"flow","to":"payload.pm1_0_cf_1","tot":"msg"},{"t":"set","p":"pm25c","pt":"flow","to":"payload.pm2_5_cf_1","tot":"msg"},{"t":"set","p":"pm10c","pt":"flow","to":"payload.pm10_0_cf_1","tot":"msg"},{"t":"set","p":"p03","pt":"flow","to":"payload.p_0_3_um","tot":"msg"},{"t":"set","p":"p05","pt":"flow","to":"payload.p_0_5_um","tot":"msg"},{"t":"set","p":"p1","pt":"flow","to":"payload.p_1_0_um","tot":"msg"},{"t":"set","p":"p25","pt":"flow","to":"payload.p_2_5_um","tot":"msg"},{"t":"set","p":"p5","pt":"flow","to":"payload.p_5_0_um","tot":"msg"},{"t":"set","p":"p10","pt":"flow","to":"payload.p_5_0_um","tot":"msg"},{"t":"set","p":"p03b","pt":"flow","to":"payload.p_0_3_um_b","tot":"msg"},{"t":"set","p":"p05b","pt":"flow","to":"payload.p_0_5_um_b","tot":"msg"},{"t":"set","p":"p1b","pt":"flow","to":"payload.p_1_0_um_b","tot":"msg"},{"t":"set","p":"p25b","pt":"flow","to":"payload.p_2_5_um_b","tot":"msg"},{"t":"set","p":"p5b","pt":"flow","to":"payload.p_5_0_um_b","tot":"msg"},{"t":"set","p":"p10b","pt":"flow","to":"payload.p_10_0_um_b","tot":"msg"},{"t":"set","p":"pm1b","pt":"flow","to":"payload.pm1_0_atm_b","tot":"msg"},{"t":"set","p":"pm25b","pt":"flow","to":"payload.pm2_5_atm_b","tot":"msg"},{"t":"set","p":"pm10b","pt":"flow","to":"payload.pm10_0_atm_b","tot":"msg"},{"t":"set","p":"pm1cb","pt":"flow","to":"payload.pm1_0_cf_1_b","tot":"msg"},{"t":"set","p":"pm25cb","pt":"flow","to":"payload.pm2_5_cf_1_b","tot":"msg"},{"t":"set","p":"pm10cb","pt":"flow","to":"payload.pm10_0_cf_1_b","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":180,"wires":[["71358bd0.3b53b4"]]},{"id":"71358bd0.3b53b4","type":"function","z":"36d07809.753fe8","name":"Averaging","func":"flow.set(\"PAtempSum\",flow.get(\"PAtempSum\")+flow.get(\"PAtemp\"));\nflow.set(\"PArhSum\",flow.get(\"PArhSum\")+flow.get(\"PArh\"));\nflow.set(\"PAdewpointSum\",flow.get(\"PAdewpointSum\")+flow.get(\"PAdewpoint\"));\nflow.set(\"PApressureSum\",flow.get(\"PApressureSum\")+flow.get(\"PApressure\"));\nflow.set(\"pm1Sum\",flow.get(\"pm1Sum\")+flow.get(\"pm1\"));\nflow.set(\"pm25Sum\",flow.get(\"pm25Sum\")+flow.get(\"pm25\"));\nflow.set(\"pm10Sum\",flow.get(\"pm10Sum\")+flow.get(\"pm10\"));\nflow.set(\"pm1cSum\",flow.get(\"pm1cSum\")+flow.get(\"pm1c\"));\nflow.set(\"pm25cSum\",flow.get(\"pm25cSum\")+flow.get(\"pm25c\"));\nflow.set(\"pm10cSum\",flow.get(\"pm10cSum\")+flow.get(\"pm10c\"));\n\nflow.set(\"pm1bSum\",flow.get(\"pm1bSum\")+flow.get(\"pm1b\"));\nflow.set(\"pm25bSum\",flow.get(\"pm25bSum\")+flow.get(\"pm25b\"));\nflow.set(\"pm10bSum\",flow.get(\"pm10bSum\")+flow.get(\"pm10b\"));\nflow.set(\"pm1cbSum\",flow.get(\"pm1cbSum\")+flow.get(\"pm1cb\"));\nflow.set(\"pm25cbSum\",flow.get(\"pm25cbSum\")+flow.get(\"pm25cb\"));\nflow.set(\"pm10cbSum\",flow.get(\"pm10cbSum\")+flow.get(\"pm10cb\"));\n\nflow.set(\"p03Sum\",flow.get(\"p03Sum\")+flow.get(\"p03\"));\nflow.set(\"p05Sum\",flow.get(\"p05Sum\")+flow.get(\"p05\"));\nflow.set(\"p1Sum\",flow.get(\"p1Sum\")+flow.get(\"p1\"));\nflow.set(\"p25Sum\",flow.get(\"p25Sum\")+flow.get(\"p25\"));\nflow.set(\"p5Sum\",flow.get(\"p5Sum\")+flow.get(\"p5\"));\nflow.set(\"p10Sum\",flow.get(\"p10Sum\")+flow.get(\"p10\"));\n\nflow.set(\"p03bSum\",flow.get(\"p03bSum\")+flow.get(\"p03\"));\nflow.set(\"p05bSum\",flow.get(\"p05bSum\")+flow.get(\"p05\"));\nflow.set(\"p1bSum\",flow.get(\"p1bSum\")+flow.get(\"p1\"));\nflow.set(\"p25bSum\",flow.get(\"p25bSum\")+flow.get(\"p25\"));\nflow.set(\"p5bSum\",flow.get(\"p5bSum\")+flow.get(\"p5\"));\nflow.set(\"p10bSum\",flow.get(\"p10bSum\")+flow.get(\"p10\"));\n\nflow.set(\"SumCount\",flow.get(\"SumCount\")+1);\nif (flow.get(\"average\")==1)\n{\n    var SumCount = flow.get(\"SumCount\");\n   flow.set(\"average\",0);\n flow.set(\"PAtempAvg\",flow.get(\"PAtempSum\")/SumCount);\nflow.set(\"PArhAvg\",flow.get(\"PArhSum\")/SumCount);\nflow.set(\"PAdewpointAvg\",flow.get(\"PAdewpointSum\")/SumCount);\nflow.set(\"PApressureAvg\",flow.get(\"PApressureSum\")/SumCount);\nflow.set(\"pm1Avg\",flow.get(\"pm1Sum\")/SumCount);\nflow.set(\"pm25Avg\",flow.get(\"pm25Sum\")/SumCount);\nflow.set(\"pm10Avg\",flow.get(\"pm10Sum\")/SumCount);\nflow.set(\"pm1cAvg\",flow.get(\"pm1cSum\")/SumCount);\nflow.set(\"pm25cAvg\",flow.get(\"pm25cSum\")/SumCount);\nflow.set(\"pm10cAvg\",flow.get(\"pm10cSum\")/SumCount);  \n\nflow.set(\"pm1bAvg\",flow.get(\"pm1bSum\")/SumCount);\nflow.set(\"pm25bAvg\",flow.get(\"pm25bSum\")/SumCount);\nflow.set(\"pm10bAvg\",flow.get(\"pm10bSum\")/SumCount);\nflow.set(\"pm1cbAvg\",flow.get(\"pm1cbSum\")/SumCount);\nflow.set(\"pm25cbAvg\",flow.get(\"pm25cbSum\")/SumCount);\nflow.set(\"pm10cbAvg\",flow.get(\"pm10cbSum\")/SumCount);  \n  \nflow.set(\"p03Avg\",flow.get(\"p03Sum\")/SumCount);\nflow.set(\"p05Avg\",flow.get(\"p05Sum\")/SumCount);\nflow.set(\"p1Avg\",flow.get(\"p1Sum\")/SumCount);\nflow.set(\"p25Avg\",flow.get(\"p25Sum\")/SumCount);\nflow.set(\"p5Avg\",flow.get(\"p5Sum\")/SumCount);\nflow.set(\"p10Avg\",flow.get(\"p10Sum\")/SumCount);\n\nflow.set(\"p03bAvg\",flow.get(\"p03bSum\")/SumCount);\nflow.set(\"p05bAvg\",flow.get(\"p05bSum\")/SumCount);\nflow.set(\"p1bAvg\",flow.get(\"p1bSum\")/SumCount);\nflow.set(\"p25bAvg\",flow.get(\"p25bSum\")/SumCount);\nflow.set(\"p5bAvg\",flow.get(\"p5bSum\")/SumCount);\nflow.set(\"p10bAvg\",flow.get(\"p10bSum\")/SumCount);\n\n  msg.payload = \"averaged \"+ flow.get(\"SumCount\") + \" \" + flow.get(\"pm25Sum\") + \" \" + flow.get(\"pm25Avg\");\n  \n   \nflow.set(\"PAtempSum\",0);\nflow.set(\"PArhSum\",0);\nflow.set(\"PAdewpointSum\",0);\nflow.set(\"PApressureSum\",0);\nflow.set(\"pm1Sum\",0);\nflow.set(\"pm25Sum\",0);\nflow.set(\"pm10Sum\",0);\nflow.set(\"pm1cSum\",0);\nflow.set(\"pm25cSum\",0);\nflow.set(\"pm10cSum\",0);\nflow.set(\"pm1bSum\",0);\nflow.set(\"pm25bSum\",0);\nflow.set(\"pm10bSum\",0);\nflow.set(\"pm1cbSum\",0);\nflow.set(\"pm25cbSum\",0);\nflow.set(\"pm10cbSum\",0);\n\nflow.set(\"p03Sum\",0);\nflow.set(\"p05Sum\",0);\nflow.set(\"p1Sum\",0);\nflow.set(\"p25Sum\",0);\nflow.set(\"p5Sum\",0);\nflow.set(\"p10Sum\",0);\n\nflow.set(\"p03bSum\",0);\nflow.set(\"p05bSum\",0);\nflow.set(\"p1bSum\",0);\nflow.set(\"p25bSum\",0);\nflow.set(\"p5bSum\",0);\nflow.set(\"p10bSum\",0);\n\n flow.set(\"SumCount\",0);\nreturn msg;\n}","outputs":1,"noerr":0,"x":1020,"y":220,"wires":[["be4a7f92.983e7"]]},{"id":"be4a7f92.983e7","type":"debug","z":"36d07809.753fe8","name":"Averaged","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":220,"wires":[]},{"id":"a4f2f8b.5729508","type":"function","z":"36d07809.753fe8","name":"Get PM Data","func":"var pm = flow.get(\"pm25\");\nmsg.payload = pm;\nmsg.topic = \"PM2.5\";\nmsg.units = \"um/m3\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["1aabbd89.65b1b2"]]},{"id":"587611d9.8dc17","type":"function","z":"36d07809.753fe8","name":"Get Temp","func":"var temp = flow.get(\"PAtempAvg\");\nmsg.payload = temp;\nmsg.units = \"degC\";\nmsg.topic = \"temperature\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["86e90c70.dd142"]]},{"id":"2210a4e1.3156cc","type":"function","z":"36d07809.753fe8","name":"Get RH","func":"var rh = flow.get(\"PArhAvg\");\nmsg.payload = rh;\nmsg.units = \"%RH\";\nmsg.topic = \"humidity\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":420,"wires":[["a4731027.f29e6"]]},{"id":"6734b43b.3d43bc","type":"change","z":"36d07809.753fe8","name":"Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"utcTime","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":60,"wires":[["cab53f1f.57655"]]},{"id":"cab53f1f.57655","type":"switch","z":"36d07809.753fe8","name":"","property":"TZ","propertyType":"flow","rules":[{"t":"eq","v":"PST","vt":"str"},{"t":"eq","v":"MST","vt":"str"},{"t":"eq","v":"CST","vt":"str"},{"t":"eq","v":"EST","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":990,"y":60,"wires":[["f4c1feb2.8b84c"],["ca2ee5e8.ea4798"],["9bcc074a.aa3a98"],["b8e4afd2.53e69"]]},{"id":"f4c1feb2.8b84c","type":"moment","z":"36d07809.753fe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Los_Angeles","x":1220,"y":40,"wires":[["73f882a2.2c7e7c"]]},{"id":"ca2ee5e8.ea4798","type":"moment","z":"36d07809.753fe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Denver","x":1220,"y":80,"wires":[["73f882a2.2c7e7c"]]},{"id":"9bcc074a.aa3a98","type":"moment","z":"36d07809.753fe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Chicago","x":1220,"y":120,"wires":[["73f882a2.2c7e7c"]]},{"id":"b8e4afd2.53e69","type":"moment","z":"36d07809.753fe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/New_York","x":1220,"y":160,"wires":[["73f882a2.2c7e7c"]]},{"id":"73f882a2.2c7e7c","type":"function","z":"36d07809.753fe8","name":"Local time","func":"flow.set(\"localTime\",msg.payload);\n\nmsg.payload = \"localtime\" + flow.get(\"localTime\");\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":160,"wires":[["ad137ecc.7158d"]]},{"id":"ad137ecc.7158d","type":"debug","z":"36d07809.753fe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1631.3333549499512,"y":177.99999618530273,"wires":[]},{"id":"1aabbd89.65b1b2","type":"debug","z":"36d07809.753fe8","name":"PM Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":300,"wires":[]},{"id":"a4731027.f29e6","type":"debug","z":"36d07809.753fe8","name":"RH Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":420,"wires":[]},{"id":"86e90c70.dd142","type":"debug","z":"36d07809.753fe8","name":"Temperature debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":360,"wires":[]},{"id":"c11445.b571dbb8","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":80,"wires":[]},{"id":"ec35370.d4d86c8","type":"function","z":"36d07809.753fe8","name":"Temperature","func":"var x = msg.payload\nmsg.payload = \"Temperature: \"+ x.current_temp_f;\nreturn  msg;\n","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["e32e2a61.2b9018","edb55226.c5ac"]],"info":"This returns the Temperature in Fahrenheit "},{"id":"eb3e56b8.31d208","type":"function","z":"36d07809.753fe8","name":"Humidity","func":"var x = msg.payload\nmsg.payload = \"Humidity: \" + x.current_humidity;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["8e627440.ccf018","437968b8.146458"]],"info":"This will return the Humidity in percent (%)"},{"id":"9ec8bcf6.cccf","type":"function","z":"36d07809.753fe8","name":"PM Data","func":"var x = msg.payload;\nmsg.payload = \"PM Data: \" + x.pm2_5_atm_b;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":360,"wires":[["d0d4af1b.e7c47","f567d827.e87848"]],"info":"This gives \"PM DATA\"--Note I don't fully understand \nwhat PM data is."},{"id":"4d61a071.e1802","type":"function","z":"36d07809.753fe8","name":"Extra Data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["d36ab97c.7a38f8"]],"info":"Placeholder for another Variable that Amara wants to receive "},{"id":"e32e2a61.2b9018","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":1260,"y":280,"wires":[]},{"id":"8e627440.ccf018","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":1260,"y":320,"wires":[]},{"id":"d36ab97c.7a38f8","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":400,"wires":[]},{"id":"d0d4af1b.e7c47","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":360,"wires":[]},{"id":"edb55226.c5ac","type":"ui_text_input","z":"36d07809.753fe8","name":"","label":"","tooltip":"","group":"d16c22f0.8ecc6","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1020,"y":460,"wires":[[]]},{"id":"f567d827.e87848","type":"ui_text_input","z":"36d07809.753fe8","name":"","label":"","tooltip":"","group":"d16c22f0.8ecc6","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1020,"y":540,"wires":[[]]},{"id":"437968b8.146458","type":"ui_text_input","z":"36d07809.753fe8","name":"","label":"","tooltip":"","group":"d16c22f0.8ecc6","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1020,"y":500,"wires":[[]]},{"id":"d16c22f0.8ecc6","type":"ui_group","name":"Group 1","tab":"6e14bb73.bd9bb4","order":1,"disp":true,"width":6},{"id":"6e14bb73.bd9bb4","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]