Nodes/hawesflow.json
[{"id":"25986a16.0bd246","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"58a82936.ef4228","type":"inject","z":"25986a16.0bd246","name":"Sample every 40 seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["9fbfe2c8.39b7a","5a9f7e2c.b431a","6c347e00.f0fed","a1367d2f.99961","ec57f442.becb88"]]},{"id":"a4fb0e34.dc646","type":"json","z":"25986a16.0bd246","name":"Extract JSON of the Sensor","property":"payload","action":"obj","pretty":true,"x":520,"y":180,"wires":[["821178a8.d4d988","dc8496fa.59fa28","5edce75f.bb2ca8","7eac0b88.6f07c4","8ffd90a0.8e736","32a71c41.286944"]],"info":"Turn JSON data into JSON Objects"},{"id":"9fbfe2c8.39b7a","type":"http request","z":"25986a16.0bd246","name":"Sensor Data","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.purpleair.com/json?show=<2C:3A:E8:FF:5E>","tls":"","proxy":"","authType":"","x":470,"y":140,"wires":[["a4fb0e34.dc646","e7fe75e8.3ff8a8"]],"info":"Get JSON data from Purple air\n"},{"id":"498584e6.39659c","type":"debug","z":"25986a16.0bd246","name":"Complete JSON from PurpleAir","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":140,"wires":[],"info":"JSON Debug data"},{"id":"821178a8.d4d988","type":"change","z":"25986a16.0bd246","name":"Data","rules":[{"t":"set","p":"pm25","pt":"flow","to":"payload.pm2_5_atm","tot":"msg"},{"t":"set","p":"PAtemp","pt":"flow","to":"payload.current_temp_f","tot":"msg"},{"t":"set","p":"PArh","pt":"flow","to":"payload.current_humidity","tot":"msg"},{"t":"set","p":"PAmac","pt":"flow","to":"payload.SensorId","tot":"msg"},{"t":"set","p":"PAfirmware","pt":"flow","to":"payload.version","tot":"msg"},{"t":"set","p":"PAhardware","pt":"flow","to":"payload.hardwareversion","tot":"msg"},{"t":"set","p":"PAdewpoint","pt":"flow","to":"payload.current_dewpoint_f","tot":"msg"},{"t":"set","p":"PApressure","pt":"flow","to":"payload.pressure","tot":"msg"},{"t":"set","p":"PAadc","pt":"flow","to":"payload.Adc","tot":"msg"},{"t":"set","p":"PAmem","pt":"flow","to":"payload.Mem","tot":"msg"},{"t":"set","p":"PArssi","pt":"flow","to":"payload.rssi","tot":"msg"},{"t":"set","p":"PAuptime","pt":"flow","to":"payload.uptime","tot":"msg"},{"t":"set","p":"pm1","pt":"flow","to":"payload.pm1_0_atm","tot":"msg"},{"t":"set","p":"pm10","pt":"flow","to":"payload.pm10_0_atm","tot":"msg"},{"t":"set","p":"pm1c","pt":"flow","to":"payload.pm1_0_cf_1","tot":"msg"},{"t":"set","p":"pm25c","pt":"flow","to":"payload.pm2_5_cf_1","tot":"msg"},{"t":"set","p":"pm10c","pt":"flow","to":"payload.pm10_0_cf_1","tot":"msg"},{"t":"set","p":"p03","pt":"flow","to":"payload.p_0_3_um","tot":"msg"},{"t":"set","p":"p05","pt":"flow","to":"payload.p_0_5_um","tot":"msg"},{"t":"set","p":"p1","pt":"flow","to":"payload.p_1_0_um","tot":"msg"},{"t":"set","p":"p25","pt":"flow","to":"payload.p_2_5_um","tot":"msg"},{"t":"set","p":"p5","pt":"flow","to":"payload.p_5_0_um","tot":"msg"},{"t":"set","p":"p10","pt":"flow","to":"payload.p_5_0_um","tot":"msg"},{"t":"set","p":"p03b","pt":"flow","to":"payload.p_0_3_um_b","tot":"msg"},{"t":"set","p":"p05b","pt":"flow","to":"payload.p_0_5_um_b","tot":"msg"},{"t":"set","p":"p1b","pt":"flow","to":"payload.p_1_0_um_b","tot":"msg"},{"t":"set","p":"p25b","pt":"flow","to":"payload.p_2_5_um_b","tot":"msg"},{"t":"set","p":"p5b","pt":"flow","to":"payload.p_5_0_um_b","tot":"msg"},{"t":"set","p":"p10b","pt":"flow","to":"payload.p_10_0_um_b","tot":"msg"},{"t":"set","p":"pm1b","pt":"flow","to":"payload.pm1_0_atm_b","tot":"msg"},{"t":"set","p":"pm25b","pt":"flow","to":"payload.pm2_5_atm_b","tot":"msg"},{"t":"set","p":"pm10b","pt":"flow","to":"payload.pm10_0_atm_b","tot":"msg"},{"t":"set","p":"pm1cb","pt":"flow","to":"payload.pm1_0_cf_1_b","tot":"msg"},{"t":"set","p":"pm25cb","pt":"flow","to":"payload.pm2_5_cf_1_b","tot":"msg"},{"t":"set","p":"pm10cb","pt":"flow","to":"payload.pm10_0_cf_1_b","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":220,"wires":[["7a1d9f63.97efe"]]},{"id":"7a1d9f63.97efe","type":"function","z":"25986a16.0bd246","name":"Averaging","func":"flow.set(\"PAtempSum\",flow.get(\"PAtempSum\")+flow.get(\"PAtemp\"));\nflow.set(\"PArhSum\",flow.get(\"PArhSum\")+flow.get(\"PArh\"));\nflow.set(\"PAdewpointSum\",flow.get(\"PAdewpointSum\")+flow.get(\"PAdewpoint\"));\nflow.set(\"PApressureSum\",flow.get(\"PApressureSum\")+flow.get(\"PApressure\"));\nflow.set(\"pm1Sum\",flow.get(\"pm1Sum\")+flow.get(\"pm1\"));\nflow.set(\"pm25Sum\",flow.get(\"pm25Sum\")+flow.get(\"pm25\"));\nflow.set(\"pm10Sum\",flow.get(\"pm10Sum\")+flow.get(\"pm10\"));\nflow.set(\"pm1cSum\",flow.get(\"pm1cSum\")+flow.get(\"pm1c\"));\nflow.set(\"pm25cSum\",flow.get(\"pm25cSum\")+flow.get(\"pm25c\"));\nflow.set(\"pm10cSum\",flow.get(\"pm10cSum\")+flow.get(\"pm10c\"));\n\nflow.set(\"pm1bSum\",flow.get(\"pm1bSum\")+flow.get(\"pm1b\"));\nflow.set(\"pm25bSum\",flow.get(\"pm25bSum\")+flow.get(\"pm25b\"));\nflow.set(\"pm10bSum\",flow.get(\"pm10bSum\")+flow.get(\"pm10b\"));\nflow.set(\"pm1cbSum\",flow.get(\"pm1cbSum\")+flow.get(\"pm1cb\"));\nflow.set(\"pm25cbSum\",flow.get(\"pm25cbSum\")+flow.get(\"pm25cb\"));\nflow.set(\"pm10cbSum\",flow.get(\"pm10cbSum\")+flow.get(\"pm10cb\"));\n\nflow.set(\"p03Sum\",flow.get(\"p03Sum\")+flow.get(\"p03\"));\nflow.set(\"p05Sum\",flow.get(\"p05Sum\")+flow.get(\"p05\"));\nflow.set(\"p1Sum\",flow.get(\"p1Sum\")+flow.get(\"p1\"));\nflow.set(\"p25Sum\",flow.get(\"p25Sum\")+flow.get(\"p25\"));\nflow.set(\"p5Sum\",flow.get(\"p5Sum\")+flow.get(\"p5\"));\nflow.set(\"p10Sum\",flow.get(\"p10Sum\")+flow.get(\"p10\"));\n\nflow.set(\"p03bSum\",flow.get(\"p03bSum\")+flow.get(\"p03\"));\nflow.set(\"p05bSum\",flow.get(\"p05bSum\")+flow.get(\"p05\"));\nflow.set(\"p1bSum\",flow.get(\"p1bSum\")+flow.get(\"p1\"));\nflow.set(\"p25bSum\",flow.get(\"p25bSum\")+flow.get(\"p25\"));\nflow.set(\"p5bSum\",flow.get(\"p5bSum\")+flow.get(\"p5\"));\nflow.set(\"p10bSum\",flow.get(\"p10bSum\")+flow.get(\"p10\"));\n\nflow.set(\"SumCount\",flow.get(\"SumCount\")+1);\nif (flow.get(\"average\")==1)\n{\n    var SumCount = flow.get(\"SumCount\");\n   flow.set(\"average\",0);\n flow.set(\"PAtempAvg\",flow.get(\"PAtempSum\")/SumCount);\nflow.set(\"PArhAvg\",flow.get(\"PArhSum\")/SumCount);\nflow.set(\"PAdewpointAvg\",flow.get(\"PAdewpointSum\")/SumCount);\nflow.set(\"PApressureAvg\",flow.get(\"PApressureSum\")/SumCount);\nflow.set(\"pm1Avg\",flow.get(\"pm1Sum\")/SumCount);\nflow.set(\"pm25Avg\",flow.get(\"pm25Sum\")/SumCount);\nflow.set(\"pm10Avg\",flow.get(\"pm10Sum\")/SumCount);\nflow.set(\"pm1cAvg\",flow.get(\"pm1cSum\")/SumCount);\nflow.set(\"pm25cAvg\",flow.get(\"pm25cSum\")/SumCount);\nflow.set(\"pm10cAvg\",flow.get(\"pm10cSum\")/SumCount);  \n\nflow.set(\"pm1bAvg\",flow.get(\"pm1bSum\")/SumCount);\nflow.set(\"pm25bAvg\",flow.get(\"pm25bSum\")/SumCount);\nflow.set(\"pm10bAvg\",flow.get(\"pm10bSum\")/SumCount);\nflow.set(\"pm1cbAvg\",flow.get(\"pm1cbSum\")/SumCount);\nflow.set(\"pm25cbAvg\",flow.get(\"pm25cbSum\")/SumCount);\nflow.set(\"pm10cbAvg\",flow.get(\"pm10cbSum\")/SumCount);  \n  \nflow.set(\"p03Avg\",flow.get(\"p03Sum\")/SumCount);\nflow.set(\"p05Avg\",flow.get(\"p05Sum\")/SumCount);\nflow.set(\"p1Avg\",flow.get(\"p1Sum\")/SumCount);\nflow.set(\"p25Avg\",flow.get(\"p25Sum\")/SumCount);\nflow.set(\"p5Avg\",flow.get(\"p5Sum\")/SumCount);\nflow.set(\"p10Avg\",flow.get(\"p10Sum\")/SumCount);\n\nflow.set(\"p03bAvg\",flow.get(\"p03bSum\")/SumCount);\nflow.set(\"p05bAvg\",flow.get(\"p05bSum\")/SumCount);\nflow.set(\"p1bAvg\",flow.get(\"p1bSum\")/SumCount);\nflow.set(\"p25bAvg\",flow.get(\"p25bSum\")/SumCount);\nflow.set(\"p5bAvg\",flow.get(\"p5bSum\")/SumCount);\nflow.set(\"p10bAvg\",flow.get(\"p10bSum\")/SumCount);\n\n  msg.payload = \"averaged \"+ flow.get(\"SumCount\") + \" \" + flow.get(\"pm25Sum\") + \" \" + flow.get(\"pm25Avg\");\n  \n   \nflow.set(\"PAtempSum\",0);\nflow.set(\"PArhSum\",0);\nflow.set(\"PAdewpointSum\",0);\nflow.set(\"PApressureSum\",0);\nflow.set(\"pm1Sum\",0);\nflow.set(\"pm25Sum\",0);\nflow.set(\"pm10Sum\",0);\nflow.set(\"pm1cSum\",0);\nflow.set(\"pm25cSum\",0);\nflow.set(\"pm10cSum\",0);\nflow.set(\"pm1bSum\",0);\nflow.set(\"pm25bSum\",0);\nflow.set(\"pm10bSum\",0);\nflow.set(\"pm1cbSum\",0);\nflow.set(\"pm25cbSum\",0);\nflow.set(\"pm10cbSum\",0);\n\nflow.set(\"p03Sum\",0);\nflow.set(\"p05Sum\",0);\nflow.set(\"p1Sum\",0);\nflow.set(\"p25Sum\",0);\nflow.set(\"p5Sum\",0);\nflow.set(\"p10Sum\",0);\n\nflow.set(\"p03bSum\",0);\nflow.set(\"p05bSum\",0);\nflow.set(\"p1bSum\",0);\nflow.set(\"p25bSum\",0);\nflow.set(\"p5bSum\",0);\nflow.set(\"p10bSum\",0);\n\n flow.set(\"SumCount\",0);\nreturn msg;\n}","outputs":1,"noerr":0,"x":1020,"y":220,"wires":[["3685af9d.dbe2e"]]},{"id":"3685af9d.dbe2e","type":"debug","z":"25986a16.0bd246","name":"Averaged","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":220,"wires":[]},{"id":"5a9f7e2c.b431a","type":"function","z":"25986a16.0bd246","name":"Get PM Data","func":"var pm = flow.get(\"pm25\");\nmsg.payload = pm;\nmsg.topic = \"PM2.5\";\nmsg.units = \"um/m3\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["857908fe.61f418"]]},{"id":"6c347e00.f0fed","type":"function","z":"25986a16.0bd246","name":"Get Temp","func":"var temp = flow.get(\"PAtempAvg\");\nmsg.payload = temp;\nmsg.units = \"degC\";\nmsg.topic = \"temperature\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["afdb65c5.545df8"]]},{"id":"a1367d2f.99961","type":"function","z":"25986a16.0bd246","name":"Get RH","func":"var rh = flow.get(\"PArhAvg\");\nmsg.payload = rh;\nmsg.units = \"%RH\";\nmsg.topic = \"humidity\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["c8205713.55d948"]]},{"id":"ec57f442.becb88","type":"change","z":"25986a16.0bd246","name":"Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"utcTime","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":60,"wires":[["f4b3df73.b02d4"]]},{"id":"f4b3df73.b02d4","type":"switch","z":"25986a16.0bd246","name":"","property":"TZ","propertyType":"flow","rules":[{"t":"eq","v":"PST","vt":"str"},{"t":"eq","v":"MST","vt":"str"},{"t":"eq","v":"CST","vt":"str"},{"t":"eq","v":"EST","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":990,"y":60,"wires":[["3e75224d.e3953e"],["5ebcdd29.95ce14"],["ce16d15d.f025c"],["69e7c1f3.3124"]]},{"id":"3e75224d.e3953e","type":"moment","z":"25986a16.0bd246","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Los_Angeles","x":1220,"y":40,"wires":[["74a173a7.2bc05c"]]},{"id":"5ebcdd29.95ce14","type":"moment","z":"25986a16.0bd246","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Denver","x":1220,"y":80,"wires":[["74a173a7.2bc05c"]]},{"id":"ce16d15d.f025c","type":"moment","z":"25986a16.0bd246","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Chicago","x":1220,"y":120,"wires":[["74a173a7.2bc05c"]]},{"id":"69e7c1f3.3124","type":"moment","z":"25986a16.0bd246","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/New_York","x":1220,"y":160,"wires":[["74a173a7.2bc05c"]]},{"id":"74a173a7.2bc05c","type":"function","z":"25986a16.0bd246","name":"Local time","func":"flow.set(\"localTime\",msg.payload);\n\nmsg.payload = \"localtime\" + flow.get(\"localTime\");\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":160,"wires":[["9eb7dd08.440bf"]]},{"id":"9eb7dd08.440bf","type":"debug","z":"25986a16.0bd246","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1631.3333549499512,"y":177.99999618530273,"wires":[]},{"id":"857908fe.61f418","type":"debug","z":"25986a16.0bd246","name":"PM Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":300,"wires":[]},{"id":"c8205713.55d948","type":"debug","z":"25986a16.0bd246","name":"RH Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":380,"wires":[]},{"id":"afdb65c5.545df8","type":"debug","z":"25986a16.0bd246","name":"Temperature debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":448,"y":342,"wires":[]},{"id":"e7fe75e8.3ff8a8","type":"debug","z":"25986a16.0bd246","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":80,"wires":[]},{"id":"dc8496fa.59fa28","type":"function","z":"25986a16.0bd246","name":"","func":"var len = payload.length();\nvar start = 0;\n\nvar value = msg.payload[0].value;\nmsg.payload = value;\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["498584e6.39659c"]]},{"id":"32a71c41.286944","type":"function","z":"25986a16.0bd246","name":"Temperature","func":"msg = msg.payload.temp_f;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["99b292fe.609af"]],"info":"This returns the Temperature in Fahrenheit "},{"id":"8ffd90a0.8e736","type":"function","z":"25986a16.0bd246","name":"Humidity","func":"msg = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["543548fd.f913b8"]],"info":"This will return the Humidity in percent (%)"},{"id":"7eac0b88.6f07c4","type":"function","z":"25986a16.0bd246","name":"PM Data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":360,"wires":[["99617a11.3a4f18"]],"info":"This gives \"PM DATA\"--Note I don't fully understand \nwhat PM data is."},{"id":"5edce75f.bb2ca8","type":"function","z":"25986a16.0bd246","name":"Extra Data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["c53da211.aeffe"]],"info":"Placeholder for another Variable that Amara wants to receive "},{"id":"99b292fe.609af","type":"debug","z":"25986a16.0bd246","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":280,"wires":[]},{"id":"543548fd.f913b8","type":"debug","z":"25986a16.0bd246","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":320,"wires":[]},{"id":"c53da211.aeffe","type":"debug","z":"25986a16.0bd246","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":400,"wires":[]},{"id":"99617a11.3a4f18","type":"debug","z":"25986a16.0bd246","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":360,"wires":[]}]