Nodes/V1.0_flow.json
[{"id":"36d07809.753fe8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6d86357d.9bf69c","type":"inject","z":"36d07809.753fe8","name":"Sample every 40 seconds","topic":"","payload":"","payloadType":"date","repeat":"40","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":180,"wires":[["5175ee69.f0cc","6734b43b.3d43bc"]],"info":"This sampling rate is 2X the period, which should ensure a decent resolution "},{"id":"852c901.03f307","type":"json","z":"36d07809.753fe8","name":"Extract JSON of the Sensor","property":"payload","action":"obj","pretty":true,"x":520,"y":180,"wires":[["6548b90.25c0d48","ec35370.d4d86c8","eb3e56b8.31d208","9ec8bcf6.cccf","4d61a071.e1802","37476c1b.518934"]],"info":"Turn JSON data into JSON Objects"},{"id":"5175ee69.f0cc","type":"http request","z":"36d07809.753fe8","name":"Sensor Data","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.purpleair.com/json?show=7872","tls":"","proxy":"","authType":"","x":470,"y":140,"wires":[["852c901.03f307","c11445.b571dbb8"]],"info":"Get JSON data from Purple air\n"},{"id":"6548b90.25c0d48","type":"change","z":"36d07809.753fe8","name":"Data","rules":[{"t":"set","p":"pm25","pt":"flow","to":"payload.pm2_5_atm","tot":"msg"},{"t":"set","p":"PAtemp","pt":"flow","to":"payload.current_temp_f","tot":"msg"},{"t":"set","p":"PArh","pt":"flow","to":"payload.current_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":180,"wires":[["71358bd0.3b53b4"]]},{"id":"71358bd0.3b53b4","type":"function","z":"36d07809.753fe8","name":"Averaging","func":"flow.set(\"PAtempSum\",flow.get(\"PAtempSum\")+flow.get(\"PAtemp\"));\nflow.set(\"PArhSum\",flow.get(\"PArhSum\")+flow.get(\"PArh\"));\nflow.set(\"PAdewpointSum\",flow.get(\"PAdewpointSum\")+flow.get(\"PAdewpoint\"));\nflow.set(\"PApressureSum\",flow.get(\"PApressureSum\")+flow.get(\"PApressure\"));\nflow.set(\"pm1Sum\",flow.get(\"pm1Sum\")+flow.get(\"pm1\"));\nflow.set(\"pm25Sum\",flow.get(\"pm25Sum\")+flow.get(\"pm25\"));\nflow.set(\"pm10Sum\",flow.get(\"pm10Sum\")+flow.get(\"pm10\"));\nflow.set(\"pm1cSum\",flow.get(\"pm1cSum\")+flow.get(\"pm1c\"));\nflow.set(\"pm25cSum\",flow.get(\"pm25cSum\")+flow.get(\"pm25c\"));\nflow.set(\"pm10cSum\",flow.get(\"pm10cSum\")+flow.get(\"pm10c\"));\n\nflow.set(\"pm1bSum\",flow.get(\"pm1bSum\")+flow.get(\"pm1b\"));\nflow.set(\"pm25bSum\",flow.get(\"pm25bSum\")+flow.get(\"pm25b\"));\nflow.set(\"pm10bSum\",flow.get(\"pm10bSum\")+flow.get(\"pm10b\"));\nflow.set(\"pm1cbSum\",flow.get(\"pm1cbSum\")+flow.get(\"pm1cb\"));\nflow.set(\"pm25cbSum\",flow.get(\"pm25cbSum\")+flow.get(\"pm25cb\"));\nflow.set(\"pm10cbSum\",flow.get(\"pm10cbSum\")+flow.get(\"pm10cb\"));\n\nflow.set(\"p03Sum\",flow.get(\"p03Sum\")+flow.get(\"p03\"));\nflow.set(\"p05Sum\",flow.get(\"p05Sum\")+flow.get(\"p05\"));\nflow.set(\"p1Sum\",flow.get(\"p1Sum\")+flow.get(\"p1\"));\nflow.set(\"p25Sum\",flow.get(\"p25Sum\")+flow.get(\"p25\"));\nflow.set(\"p5Sum\",flow.get(\"p5Sum\")+flow.get(\"p5\"));\nflow.set(\"p10Sum\",flow.get(\"p10Sum\")+flow.get(\"p10\"));\n\nflow.set(\"p03bSum\",flow.get(\"p03bSum\")+flow.get(\"p03\"));\nflow.set(\"p05bSum\",flow.get(\"p05bSum\")+flow.get(\"p05\"));\nflow.set(\"p1bSum\",flow.get(\"p1bSum\")+flow.get(\"p1\"));\nflow.set(\"p25bSum\",flow.get(\"p25bSum\")+flow.get(\"p25\"));\nflow.set(\"p5bSum\",flow.get(\"p5bSum\")+flow.get(\"p5\"));\nflow.set(\"p10bSum\",flow.get(\"p10bSum\")+flow.get(\"p10\"));\n\nflow.set(\"SumCount\",flow.get(\"SumCount\")+1);\nif (flow.get(\"average\")==1)\n{\n    var SumCount = flow.get(\"SumCount\");\n   flow.set(\"average\",0);\n flow.set(\"PAtempAvg\",flow.get(\"PAtempSum\")/SumCount);\nflow.set(\"PArhAvg\",flow.get(\"PArhSum\")/SumCount);\nflow.set(\"PAdewpointAvg\",flow.get(\"PAdewpointSum\")/SumCount);\nflow.set(\"PApressureAvg\",flow.get(\"PApressureSum\")/SumCount);\nflow.set(\"pm1Avg\",flow.get(\"pm1Sum\")/SumCount);\nflow.set(\"pm25Avg\",flow.get(\"pm25Sum\")/SumCount);\nflow.set(\"pm10Avg\",flow.get(\"pm10Sum\")/SumCount);\nflow.set(\"pm1cAvg\",flow.get(\"pm1cSum\")/SumCount);\nflow.set(\"pm25cAvg\",flow.get(\"pm25cSum\")/SumCount);\nflow.set(\"pm10cAvg\",flow.get(\"pm10cSum\")/SumCount);  \n\nflow.set(\"pm1bAvg\",flow.get(\"pm1bSum\")/SumCount);\nflow.set(\"pm25bAvg\",flow.get(\"pm25bSum\")/SumCount);\nflow.set(\"pm10bAvg\",flow.get(\"pm10bSum\")/SumCount);\nflow.set(\"pm1cbAvg\",flow.get(\"pm1cbSum\")/SumCount);\nflow.set(\"pm25cbAvg\",flow.get(\"pm25cbSum\")/SumCount);\nflow.set(\"pm10cbAvg\",flow.get(\"pm10cbSum\")/SumCount);  \n  \nflow.set(\"p03Avg\",flow.get(\"p03Sum\")/SumCount);\nflow.set(\"p05Avg\",flow.get(\"p05Sum\")/SumCount);\nflow.set(\"p1Avg\",flow.get(\"p1Sum\")/SumCount);\nflow.set(\"p25Avg\",flow.get(\"p25Sum\")/SumCount);\nflow.set(\"p5Avg\",flow.get(\"p5Sum\")/SumCount);\nflow.set(\"p10Avg\",flow.get(\"p10Sum\")/SumCount);\n\nflow.set(\"p03bAvg\",flow.get(\"p03bSum\")/SumCount);\nflow.set(\"p05bAvg\",flow.get(\"p05bSum\")/SumCount);\nflow.set(\"p1bAvg\",flow.get(\"p1bSum\")/SumCount);\nflow.set(\"p25bAvg\",flow.get(\"p25bSum\")/SumCount);\nflow.set(\"p5bAvg\",flow.get(\"p5bSum\")/SumCount);\nflow.set(\"p10bAvg\",flow.get(\"p10bSum\")/SumCount);\n\n  msg.payload = \"averaged \"+ flow.get(\"SumCount\") + \" \" + flow.get(\"pm25Sum\") + \" \" + flow.get(\"pm25Avg\");\n  \n   \nflow.set(\"PAtempSum\",0);\nflow.set(\"PArhSum\",0);\nflow.set(\"PAdewpointSum\",0);\nflow.set(\"PApressureSum\",0);\nflow.set(\"pm1Sum\",0);\nflow.set(\"pm25Sum\",0);\nflow.set(\"pm10Sum\",0);\nflow.set(\"pm1cSum\",0);\nflow.set(\"pm25cSum\",0);\nflow.set(\"pm10cSum\",0);\nflow.set(\"pm1bSum\",0);\nflow.set(\"pm25bSum\",0);\nflow.set(\"pm10bSum\",0);\nflow.set(\"pm1cbSum\",0);\nflow.set(\"pm25cbSum\",0);\nflow.set(\"pm10cbSum\",0);\n\nflow.set(\"p03Sum\",0);\nflow.set(\"p05Sum\",0);\nflow.set(\"p1Sum\",0);\nflow.set(\"p25Sum\",0);\nflow.set(\"p5Sum\",0);\nflow.set(\"p10Sum\",0);\n\nflow.set(\"p03bSum\",0);\nflow.set(\"p05bSum\",0);\nflow.set(\"p1bSum\",0);\nflow.set(\"p25bSum\",0);\nflow.set(\"p5bSum\",0);\nflow.set(\"p10bSum\",0);\n\n flow.set(\"SumCount\",0);\nreturn msg;\n}","outputs":1,"noerr":0,"x":1020,"y":220,"wires":[["be4a7f92.983e7"]]},{"id":"be4a7f92.983e7","type":"debug","z":"36d07809.753fe8","name":"Averaged","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":220,"wires":[]},{"id":"6734b43b.3d43bc","type":"change","z":"36d07809.753fe8","name":"Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"utcTime","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":60,"wires":[["cab53f1f.57655"]]},{"id":"cab53f1f.57655","type":"switch","z":"36d07809.753fe8","name":"","property":"TZ","propertyType":"flow","rules":[{"t":"eq","v":"PST","vt":"str"},{"t":"eq","v":"MST","vt":"str"},{"t":"eq","v":"CST","vt":"str"},{"t":"eq","v":"EST","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":990,"y":60,"wires":[["f4c1feb2.8b84c"],["ca2ee5e8.ea4798"],["9bcc074a.aa3a98"],["b8e4afd2.53e69"]]},{"id":"f4c1feb2.8b84c","type":"moment","z":"36d07809.753fe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Los_Angeles","x":1220,"y":40,"wires":[["73f882a2.2c7e7c"]]},{"id":"ca2ee5e8.ea4798","type":"moment","z":"36d07809.753fe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Denver","x":1220,"y":80,"wires":[["73f882a2.2c7e7c"]]},{"id":"9bcc074a.aa3a98","type":"moment","z":"36d07809.753fe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Chicago","x":1220,"y":120,"wires":[["73f882a2.2c7e7c"]]},{"id":"b8e4afd2.53e69","type":"moment","z":"36d07809.753fe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/New_York","x":1220,"y":160,"wires":[["73f882a2.2c7e7c"]]},{"id":"73f882a2.2c7e7c","type":"function","z":"36d07809.753fe8","name":"Local time","func":"flow.set(\"localTime\",msg.payload);\n\nmsg.payload = \"localtime\" + flow.get(\"localTime\");\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":160,"wires":[["ad137ecc.7158d"]]},{"id":"ad137ecc.7158d","type":"debug","z":"36d07809.753fe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1631.3333549499512,"y":177.99999618530273,"wires":[]},{"id":"c11445.b571dbb8","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":80,"wires":[]},{"id":"ec35370.d4d86c8","type":"function","z":"36d07809.753fe8","name":"Temperature","func":"var x = msg.payload\nmsg.payload = x.results[0].temp_f;\nmsg.payload = Number(msg.payload)\nreturn  msg;\n","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["c65f9172.6fa48"]],"info":"This returns the Temperature in Fahrenheit "},{"id":"eb3e56b8.31d208","type":"function","z":"36d07809.753fe8","name":"Humidity","func":"var x = msg.payload\nmsg.payload =x.results[0].humidity;\nmsg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["4f4b72c8.f3a7ec"]],"info":"This will return the Humidity in percent (%)"},{"id":"9ec8bcf6.cccf","type":"function","z":"36d07809.753fe8","name":"PM Data","func":"var x = msg.payload;\nmsg.payload =x.results[0].PM2_5Value;\nmsg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":360,"wires":[["86886a25.3cec78"]],"info":"This gives \"PM DATA\"--Note I don't fully understand \nwhat PM data is."},{"id":"4d61a071.e1802","type":"function","z":"36d07809.753fe8","name":"Extra Data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["dc5860f5.a43a7"]],"info":"Placeholder for another Variable that Amara wants to receive "},{"id":"e32e2a61.2b9018","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1790,"y":280,"wires":[]},{"id":"d36ab97c.7a38f8","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":360,"wires":[]},{"id":"d0d4af1b.e7c47","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":320,"wires":[]},{"id":"37476c1b.518934","type":"function","z":"36d07809.753fe8","name":"Grouped Data","func":"var x = msg.payload.results[0];\nfunction addZero(i) {\n  if (i < 10) {\n    i = \"0\" + i;\n  }\n  return i;\n}\nd = new Date();\nvar dd = d.getDate();\nvar mm = d.getMonth()+1; //As January is 0.\nvar yyyy = d.getFullYear();\n\nif(dd<10) dd='0'+dd;\nif(mm<10) mm='0'+mm;\nvar date = (mm+'-'+dd+'-'+yyyy);\nvar h = addZero(d.getHours());\n  var m = addZero(d.getMinutes());\n  var s = addZero(d.getSeconds());\nvar time = (h+':'+m+':'+s)\nmsg.payload = \"Temperature: \"+ x.temp_f + \"\\n  % Humidity: \" + x.humidity + \"\\n   PM2_5: \" + x.PM2_5Value +\"  TIME:  \" + date+\"  \" + time;      \nreturn  msg;","outputs":1,"noerr":0,"x":760,"y":460,"wires":[[]]},{"id":"d44a559.3d706a8","type":"exec","z":"36d07809.753fe8","command":"python /home/pi/Desktop/WildFire/wildfire_run0.py","addpay":true,"append":"","useSpawn":"false","timer":"60","oldrc":false,"name":"send message to Rockblock module","x":1910,"y":540,"wires":[[],[],[]]},{"id":"df4a9b33.ea67f8","type":"file","z":"36d07809.753fe8","name":"Input to Text log","filename":"C:\\Users\\User\\Desktop\\TestWildfire.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1840,"y":420,"wires":[[]]},{"id":"6672ac2b.764854","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":500,"wires":[]},{"id":"7bb864f3.93182c","type":"function","z":"36d07809.753fe8","name":"Averager","func":"var currentTime = new Date().getTime();\nif (!context.lastTime) {\n    context.lastTime = currentTime;\n    context.sum = msg.payload.value;\n    context.count = 1;\n}  \nif (currentTime-context.lastTime > (1000*60*15)) {\n    // calculate average for previous messages\n    msg.payload.average = context.sum/context.count;\n    // start tracking average again\n    context.sum = msg.payload.value;\n    context.count = 1;\n    context.lastTime = currentTime;\n} else {\n    context.sum += msg.payload.value;\n    context.count +=1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":420,"wires":[[]]},{"id":"34490659.196eca","type":"function","z":"36d07809.753fe8","name":"Average PM data","func":"var currentTime = new Date().getTime();\nif (!context.lastTime) {\n    context.lastTime = currentTime;\n    context.sum = msg.payload;\n    context.count = 1;\n}\nif (currentTime-context.lastTime > (1000*60*15)) {\n    // calculate average for previous messages\n    msg.payload.average = context.sum/context.count;\n    // start tracking average again\n    context.sum = msg.payload;\n    context.count = 1;\n    context.lastTime = currentTime;\n} else {\n    context.sum += msg.payload;\n    context.count +=1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":120,"wires":[[]]},{"id":"829b7a.09027488","type":"function","z":"36d07809.753fe8","name":"Average Humidity","func":"var currentTime = new Date().getTime();\nif (!context.lastTime) {\n    context.lastTime = currentTime;\n    context.sum = msg.payload;\n    context.count = 1;\n}\nif (currentTime-context.lastTime > (1000*60*15)) {\n    // calculate average for previous messages\n    msg.payload.average = context.sum/context.count;\n    // start tracking average again\n    context.sum = msg.payload;\n    context.count = 1;\n    context.lastTime = currentTime;\n} else {\n    context.sum += msg.payload;\n    context.count +=1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":80,"wires":[[]]},{"id":"4f182f90.5cca","type":"function","z":"36d07809.753fe8","name":"Average Temp","func":"var currentTime = new Date().getTime();\nif (!context.lastTime) {\n    context.lastTime = currentTime;\n    context.sum = msg.payload;\n    context.count = 1;\n}  \nif (currentTime-context.lastTime > (1000*40)) {\n    // calculate average for previous messages\n    msg.payload.average = context.sum/context.count;\n    // start tracking average again\n    context.sum = msg.payload;\n    context.count = 1;\n    context.lastTime = currentTime;\n} else {\n    context.sum += msg.payload;\n    context.count +=1;\n}\nreturn parseInt(msg);","outputs":1,"noerr":0,"x":1460,"y":40,"wires":[[]]},{"id":"477f35ce.cef56c","type":"join","z":"36d07809.753fe8","name":"Combine","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"10","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1660,"y":460,"wires":[["5a0cf9d6.969b38","df4a9b33.ea67f8"]]},{"id":"dc5860f5.a43a7","type":"change","z":"36d07809.753fe8","name":"change to double","rules":[{"t":"change","p":"payload","pt":"msg","from":"$string(payload)","fromt":"str","to":"$number(payload)","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":400,"wires":[[]]},{"id":"5a0cf9d6.969b38","type":"debug","z":"36d07809.753fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1830,"y":460,"wires":[]},{"id":"c65f9172.6fa48","type":"smooth","z":"36d07809.753fe8","name":"","property":"payload","action":"mean","count":"22","round":"0","mult":"single","x":980,"y":280,"wires":[["3dfc1bed.ef5394"]]},{"id":"4f4b72c8.f3a7ec","type":"smooth","z":"36d07809.753fe8","name":"","property":"payload","action":"mean","count":"22","round":"0","mult":"single","x":980,"y":320,"wires":[["45546758.763c08"]]},{"id":"86886a25.3cec78","type":"smooth","z":"36d07809.753fe8","name":"","property":"payload","action":"mean","count":"22","round":"0","mult":"single","x":980,"y":360,"wires":[["4160fad7.6caf54"]]},{"id":"3dfc1bed.ef5394","type":"delay","z":"36d07809.753fe8","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"minutes","rate":"3","nbRateUnits":"40","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":280,"wires":[["812c1810.d5df68"]]},{"id":"812c1810.d5df68","type":"function","z":"36d07809.753fe8","name":"Encode Temp","func":"var x = msg.payload;\nmsg.payload = String.fromCharCode(x);\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":280,"wires":[["4881a4bf.f2810c"]]},{"id":"cbdd12f8.941f2","type":"function","z":"36d07809.753fe8","name":"Encode Humidity","func":"var x = msg.payload;\nmsg.payload = String.fromCharCode(x);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":320,"wires":[["74b3f902.a640c8"]]},{"id":"654a145e.950e2c","type":"function","z":"36d07809.753fe8","name":"Encode PM","func":"var x = msg.payload;\nmsg.payload = String.fromCharCode(x);\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":360,"wires":[["935c30b6.0e845"]]},{"id":"4881a4bf.f2810c","type":"delay","z":"36d07809.753fe8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":280,"wires":[["e32e2a61.2b9018","477f35ce.cef56c"]]},{"id":"74b3f902.a640c8","type":"delay","z":"36d07809.753fe8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":320,"wires":[["d0d4af1b.e7c47","477f35ce.cef56c"]]},{"id":"935c30b6.0e845","type":"delay","z":"36d07809.753fe8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":360,"wires":[["d36ab97c.7a38f8","477f35ce.cef56c"]]},{"id":"45546758.763c08","type":"delay","z":"36d07809.753fe8","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"minutes","rate":"3","nbRateUnits":"40","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":320,"wires":[["cbdd12f8.941f2"]]},{"id":"4160fad7.6caf54","type":"delay","z":"36d07809.753fe8","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"minutes","rate":"3","nbRateUnits":"40","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":360,"wires":[["654a145e.950e2c"]]}]